@model IEnumerable<PROJECTE_DAW_API.Models.Character>

@{
    ViewBag.Title = "Rick & Morty Characters";
    int currentPage = ViewBag.CurrentPage ?? 1;
    int totalPages = ViewBag.TotalPages ?? 1;
    int maxPagesToShow = 8;
    int startPage = Math.Max(1, currentPage - maxPagesToShow / 2);
    int endPage = Math.Min(totalPages, startPage + maxPagesToShow - 1);

    if (endPage - startPage < maxPagesToShow)
    {
        startPage = Math.Max(1, endPage - maxPagesToShow + 1);
    }
}

<div class="container mt-5">
    <h1 class="display-4 text-center">@ViewBag.Title</h1>
    <div class="row">
        @foreach (var character in Model)
        {
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <div class="image-container">
                        <img src="@character.image" class="card-img-top" alt="@character.name">
                        <span class="status-label @(character.status.ToLower())">@character.status</span>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@character.name</h5>
                        <p class="card-text">Origin: @character.origin.name</p>
                        <p class="card-text">Last Known Location: @character.location.name</p>
                    </div>
                </div>
            </div>
        }
    </div>

    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("RMCharacters", new { page = 1 })">First</a>
            </li>
            <li class="page-item @(ViewBag.PrevPage == null ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("RMCharacters", new { page = ViewBag.PrevPage })">Previous</a>
            </li>
            @for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("RMCharacters", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.NextPage == null ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("RMCharacters", new { page = ViewBag.NextPage })">Next</a>
            </li>
            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("RMCharacters", new { page = totalPages })">Last</a>
            </li>
        </ul>
    </nav>
</div>